<div class="container-xl">
    <div class="row">
        <!-- <div class="col-6 d-flex align-items-stretch">
            <img src="" alt="">
            <div class="container">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Invite your friend</h1>

                        <form class="form mt-4">
                            <p>
                                <tui-input id="guest_fullname" name="guest_fullname" [(ngModel)]="invitation.fullName" required #gEmailVar="ngModel" [ngClass]="{'is-invalid': gEmailVar.touched && !gEmailVar.valid}">
                                    Guest fullname
                                </tui-input>
                            </p>

                            <p>
                                <tui-input id="guest_email" name="guest_email" [(ngModel)]="invitation.emailGuest" required #gEmailVar="ngModel" [ngClass]="{'is-invalid': gEmailVar.touched && !gEmailVar.valid}">
                                    Guest email
                                </tui-input>
                            </p>

                            <p>
                                <tui-input-phone-international id="guest_number" name="guest_number" [(ngModel)]="invitation.numGuest" required #gNumberVar="ngModel" [ngClass]="{'is-invalid': gNumberVar.touched && !gNumberVar.valid}" class="input" [countries]="(countries | tuiSortCountries | async) || []"
                                    [(countryIsoCode)]="countryIsoCode">
                                    Guest phone number
                                </tui-input-phone-international>
                            </p>

                            <button class="btn btn-primary col-md-12 mt-5" type="button" (click)="inviter()"> Envoyer </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-6">
            <div class="container">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Invite your friend</h1>

                        <form name="form2" class="form mt-4">
                            <!-- <p>
                                <tui-input id="guest_fullname" name="guest_fullname" [(ngModel)]="invitation.fullName" required #gEmailVar="ngModel" [ngClass]="{'is-invalid': gEmailVar.touched && !gEmailVar.valid}">
                                    Guest fullname
                                </tui-input>
                            </p> -->
                            <div class="form-group">
                                <label for=""> Guest fullname </label>
                                <input type="text" class="form-control form-control-sm" id="guest_fullname" name="guest_fullname" [(ngModel)]="invitation.fullName" required>
                            </div>

                            <!-- <p>
                                <tui-input id="guest_email" name="guest_email" [(ngModel)]="invitation.emailGuest" required #gEmailVar="ngModel" [ngClass]="{'is-invalid': gEmailVar.touched && !gEmailVar.valid}">
                                    Guest email
                                </tui-input>
                            </p> -->
                            <div class="form-group">
                                <label for=""> Guest email </label>
                                <input type="text" class="form-control form-control-sm" id="guest_email" name="guest_email" [(ngModel)]="invitation.emailGuest" required>
                            </div>

                            <!-- <p>
                                <tui-input-phone-international id="guest_number" name="guest_number" [(ngModel)]="invitation.numGuest" required #gNumberVar="ngModel" [ngClass]="{'is-invalid': gNumberVar.touched && !gNumberVar.valid}" class="input" [countries]="(countries | tuiSortCountries | async) || []"
                                    [(countryIsoCode)]="countryIsoCode">
                                    Guest phone number
                                </tui-input-phone-international>
                            </p> -->
                            <div class="form-group">
                                <label for=""> Localisation </label>
                                <input type="text" class="form-control form-control-sm" id="guest_number" name="guest_number" [(ngModel)]="invitation.numGuest" required>
                            </div>

                            <button class="btn btn-primary col-md-12 mt-5" type="button" (click)="inviter()"> Envoyer </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>