<!-- <tui-root>
    <div>
        <form [formGroup]="form">
            <p>
                <tui-input formControlName="testValue">
                    Lastname
                </tui-input>
            </p>
            <p>
                <tui-input formControlName="testValue">
                    Firstname
                </tui-input>
            </p>
            <p>
                <tui-input formControlName="testValue">
                    Address number
                </tui-input>
            </p>
            <p>
                <tui-input formControlName="testValue">
                    Email
                </tui-input>
            </p>
            <p>
                <tui-input formControlName="testValue">
                    Password
                </tui-input>
            </p>
        </form>
    </div>
</tui-root> -->
<router-outlet></router-outlet>
