<div class="container-xl">
    <div class="row">
        <div class="col-6 d-flex align-items-stretch">
            <img src="../../../assets/img/images.jpg" alt="">
        </div>
        <div class="col-6">
            <div class="container">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Choisir son restaurant</h1>

                        <form class="form mt-4">
                            <!-- <div class="form-group">
                                <label for="restauLib"> Libellé du restaurant <label>
                                <select class="form-control form-control-sm" id="restauLib" [(ngModel)]="reservation.restaurantReserved" name="restauLib" required #filialeVar="ngModel" > 
                                      <option selected>--- Sélectionner le restaurant--</option>
                                      <option *ngFor="let restau of restaurant" value= {{restau.restaurantId}}> {{restau.libRestaurant}} </option>
                                </select>
                            </div> -->

                            <div class="form-group">
                                <label for="dateReserv"> Date de reservation </label>
                                <input type="text" class="form-control form-control-sm" id="dateReserv" name="dateReserv" [(ngModel)]="restaurant.reservationDate" required #libRestVar="ngModel">
                            </div>

                            <div class="form-group">
                                <label for="timeReserv"> Heure de reservation </label>
                                <input type="text" class="form-control form-control-sm" id="timeReserv" name="timeReserv" [(ngModel)]="restaurant.reservationDate" required #libRestVar="ngModel">
                            </div>

                            <div class="form-group">
                                <label for="tableReserv"> Table réservée </label>
                                <select class="form-control form-control-sm" id="tableReserv" [(ngModel)]="reservation.tableReserved" name="tableReserv" required #filialeVar="ngModel"> 
                                    <option selected>--- Sélectionner la table souhaitée---</option>
                                    <option *ngFor="let tab of tables" value= {{tab.tableId}}> {{tab.numTable}} </option>
                                </select>
                            </div>
                            <button class="btn btn-primary col-md-12 mt-5" type="button" (click)="goToChoiceTable()"> Suivant </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>