<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">My Restaurant Carte</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            </div>
        </nav>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col-6 d-flex align-items-stretch">
                <img src="../../../../assets/img/depositphotos_79575134-stock-photo-hands-holding-credit-card-and.jpg" alt="">
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="card md-1">
                        <div class="card-body">
                            <h1>Inscription</h1>
                            <div class="alert alert-danger" *ngIf="!!erreur"> {{erreur}} </div>
                            <form [formGroup]="form" class="form mt-4">
                                <p>
                                    <tui-input formControlName="lname">
                                        Lastname
                                    </tui-input>
                                </p>
                                <p>
                                    <tui-input formControlName="fname">
                                        Firstname
                                    </tui-input>
                                </p>
                                <p>
                                    <tui-input-phone-international formControlName="number" class="input" [countries]="(countries | tuiSortCountries | async) || []" [(countryIsoCode)]="countryIsoCode">
                                        Phone number
                                    </tui-input-phone-international>
                                </p>
                                <p>
                                    <tui-input formControlName="email">
                                        Email
                                    </tui-input>
                                </p>
                                <p>
                                    <tui-input-password formControlName="password" class="">
                                        Password
                                    </tui-input-password>
                                </p>
                                <button class="btn btn-primary col-md-12 mt-5" type="button" (click)="connexion()">Se connecter</button>
                            </form>
                        </div>
                        <div class="text-center">Vous avez un compte : <a routerLink="/login">Connectez vous !</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>