<div class="container-xl">
    <div class="row">
        <div class="col-6 d-flex align-items-stretch">
            <img src="../../../assets/img/téléchargement (1).jpg" alt="">
        </div>
        <div class="col-6">
            <div class="container">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Share your opinion</h1>

                        <form class="form mt-4">
                            <!-- <p>
                                <tui-text-area class="tui-space_bottom-4 field-large" id="libelle_observation" name="libelle_observation" [(ngModel)]="observation.libelleObserv" required #gEmailVar="ngModel" [ngClass]="{'is-invalid': gEmailVar.touched && !gEmailVar.valid}">
                                    Your opinion
                                </tui-text-area>
                            </p> -->

                            <div class="form-group">
                                <label for=""> Localisation </label>
                                <textarea type="text" class="form-control form-control-sm" id="libelle_observation" name="libelle_observation" [(ngModel)]="observation.libelleObserv" required #localVar="ngModel"></textarea>
                            </div>
                            <button class="btn btn-primary col-md-12 mt-5" type="button" (click)="shareOpinion()"> Envoyer </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>