<h2> Liste de mes réservations</h2>
<!-- <div>
    <button style="background-color: rgba(244, 123, 2, 0.957); color: white;" class="btn" (click)="goToCreateHabilitation()">
            Faire une habilitation
        </button>
</div><br> -->

<!-- <div class="form-group col-md-6">
    <label for="searchHabilitation">Recherche d'habilitation</label>
    <input type="text" class="form-control form-control-sm" id="searchHabilitation" [(ngModel)]="searchBoxHabil" name="searchBoxTxt" aria-describedby="appUser">
    <small id="appUser" class="form-text text-muted" *ngIf="!searchBoxHabil">Veuillez entrer la filiale, le prestataire, la clé ou le code du microservice</small>
</div><br> -->

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Ident </th>
                <th> Restaurant </th>
                <th> Date </th>
                <th> Heure </th>
                <th> Table </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reserv">
                <td> {{reservation.id}} </td>
                <td> {{reservation.restaurantReserved}} </td>
                <td> {{reservation.reservationDate}} </td>
                <td> {{reservation.timeReservation}} </td>
                <td> {{reservation.tableReserved}} </td>

            </tr>
        </tbody>
    </table>
</div>