<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">
                    <span class="material-icons md-10">home</span> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home/dash">
                    <span class="material-icons md-10">dashboard</span> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home/reservation">
                    <span class="material-icons md-10">event</span> Reservations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home/invitation">
                    <span class="material-icons md-10">assignment</span> Invitations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home/observation">
                    <span class="material-icons md-10">subject</span> Observations
                </a>
            </li>
        </ul>
    </div>
</nav>