<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <div class="col-md-2">ga cj sqjL C hcgwxgutcecfyeznygfcnnzge fdzisuqWCIYGQST7Cfg</div>

        <!-- main -->
        <main role="main" class="main col-md-8 ml-sm-auto col-lg-10 pt-3 px-4">
            <!-- <div class="container-fluid">
                <app-carousel-dashboard title="Les meilleurs restaurants" description="gdzfqsiFdvcuwVXVzefudsucux" title2="Les meilleurs patates" description2="gdzfqsiFdvcuwVXVzefudsucux"></app-carousel-dashboard>
            </div> -->
            <!-- <p>
                <h1 class="tex-align">Bienvenue sur My Restaurant Carte</h1>
                <h3>reserver à distance sa table est maintenant possible</h3>
            </p> -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>